:root {
  font-family: "Open Sans", sans-serif;
}


#behind {
  background-color: #29292E;
  border: solid black;
  border-radius: 40px;
  width: 805px;
  margin: 0 auto;
  padding: 80px;
}

#page {
  background-color: white;
  padding: 40px 80px 40px;
  
}

#page img {
  border-radius: 28px;
}

#page h1, h2, h3, #red {
  font-weight: 700;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 17px;
}

#city p {
  text-align: center;
  font-size: 9px;
  font-style: italic;
}

main {
  width: 650px;
}

#red {
  color: red;
}

#title {
  margin-bottom: 40px;
}


img {
  width: 650px;
}

#culture {
  margin-top: 40px;
}

#titlelist {
  margin-top: 64px;
}

#titlelist h2 {
  margin: 2px 0 4px;
}

#titlelist p  {
  font-size: 9px;
}

#titlelist #red {
  font-size: 16px;
}

#culture1 p, #culture2 p, #culture3 p {
  font-size: 9px;
}

#culture1 p + p, #culture2 p + p, #culture3 p + p {
  font-size: 16px;
  font-weight: 700;
}

#end {
  font-size: 9px;
  text-align: center;
}

#culture1 img {
  margin-top: 35px;
}

#culture2 {
  margin: 48px 0;
}

#culture3 ul {
  margin-bottom: 40px;
}

#culture3 {
  margin-bottom: 40px;
}

footer {
  margin: 65px 230px 0;
  font-size: 14px;
}